/*
Start Styles
*/
html, body, .d-flex.text-center.bg-secondary {
    height: 100%;
}

.form-login, .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
/*
End Styles
*/