/*
Start Styles
*/
html, body{
    height: 100%;
    min-width: 360px;
    background: map-get($color, mainBackground)!important;
    color: $font-color!important;
}

.form-login, .form-signup, .templateText{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
/*
End Styles
*/