<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <meta name="description" content="" />
    <meta name="theme" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- End Meta Data -->
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
</head>
<body class="d-flex text-center bg-secondary">
    {{{body}}}
</body>
</html>