{{> navbar homePage=true}}

<div class="d-flex text-center bg-secondary">
    <div class="templateText">
        <h1>Welcome To The Basic Home Page</h1>
        <p>Feel free to alter this as you please and put your information here!</p>
    </div>
</div>