{{> navbar profilePage=true}}
<div class="d-flex text-center bg-secondary">
    <div class="templateText">
        {{#with profile}}
            <h1>Welcome {{email}}!</h1>
            <p>Thanks For Joining Us Today!</p>
        {{/with}}
    </div>
</div>
