{{> navbar profilePage=true}}
<div class="d-flex text-center bg-secondary">
    <div class="templateText">
        {{#with profile}}
            <h1>Welcome {{email}}!</h1>
            <p>Feel Free This Page Using The User Login Information</p>
            <p>You Can Add A Form To Allow The User To Update The Information</p>
        {{/with}}
    </div>
</div>
